header {
  padding-bottom: 5px;
  margin-bottom: 20px;
  background: #61c4e2;
}

header .row {
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

header .logo {
  width: 100px;
  margin: 20px;
}

header .title {
  margin: auto;
}

header .links {
  margin: auto;
}

header .links a {
  font-size: 1.2rem;
  text-decoration: none;
  padding-right: 10px;
  margin-right: 10px;
  color: black;
  font-weight: bold;
  border-right: solid 2px black;
}

header .links a.hovered {
  color: white;
}

header .links a:hover {
  color: white;
}

header .links a:last-child {
  border-right: none;
}

section .barra_buscar {
  margin-bottom: 20px;
}

section .barra_buscar .form-inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 80px;
}

section .barra_buscar .form-inline label {
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

section .barra_buscar .form-inline .form-control {
  margin-right: 20px;
  width: 250px !important;
}

section .barra_buscar .form-inline .form-control:focus {
  border-color: #61c4e2;
  box-shadow: 0 0 0 0.2rem #61c4e2;
}

section .barra_buscar .form-inline .btns {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

section .barra_buscar .form-inline .btns .btn {
  color: #61c4e2;
  background: black;
  border-color: black;
  margin-right: 10px;
}

section .barra_buscar .form-inline .btns .btn:last-child {
  margin-right: 0px;
}

section .barra_buscar .form-inline .btns .btn:hover {
  color: black;
  background-color: #61c4e2;
  border-color: #61c4e2;
}

section .barra_buscar .form-inline .btns .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(97, 196, 226, 0.76);
}

section .barra_buscar .form-inline .btns .btn.disabled:hover {
  color: #61c4e2;
  background: black;
  border-color: black;
}




section .contenido h4 {
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

section .contenido .table {
  font-size: 1.2rem;
  margin-bottom: 50px;
  text-align: center;
}

section .contenido .table .thead {
  background: #61c4e2;
  font-size: 1.5rem;
}

section .contenido .table .thead th {
  border: 2px solid #000000;
}

section .contenido .table td {
  border: 2px solid #000000;
  padding: 0.3rem;
}

section .contenido .factura {
  border-top: solid 1px black;
  text-align: center;
}

section .contenido .content label {
  margin-right: 5px;
}

section .contenido .content .form-control {
  display: inline;
  width: 150px;
  margin-right: 10px;
}

section .contenido .content .rojo {
  color: #ff6262;
  transition: all .5s ease;
  height: 30px;
}

section .contenido .content .verde {
  color: #45cf43;
  transition: all .5s ease;
  height: 30px;
}

section .contenido .content .borrar:hover {
  background-color: #ff383894;
  cursor: pointer;
}

section .contenido .content .btn {
  transition: all .3s ease;
  color: #61c4e2;
  background: black;
  border-color: black;
  margin-right: 15px;
  margin-top: 10px;
  display: block;
}

section .contenido .content .btn:hover {
  color: black;
  background-color: #61c4e2;
  border-color: #61c4e2;
}

section .contenido .content .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(97, 196, 226, 0.76);
}

footer p {
  text-align: center;
  position: relative;
  bottom: 0px;
  right: 40%;
}

.formulario-cargar{
  margin-top: 20px;
}

.formulario-cargar h1{
  font-size: 2rem;
  margin-bottom: 5px;
  text-align: center;
}

#label_id{
  width: 500px;
  margin: auto;
  top: 70px;
}

#form-cargar{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */